.page-search {
  main {
    padding-top: 25px;
  }

  #search-form {
    background: $smoke;
    padding: 35px 25px;
    @include min($mobile-break) {
      @include span-columns(3);
    }

    label {
      margin: 0 0 20px 0;
      padding: 0;
      display: block;
      font-size: 18px;
      font-weight: normal;
      color: #000000;
      line-height: 1.2em;
    }

    input {
      padding: 10px;
      width: 100%;
      background-color: #fff;
      border: 0 none;
      border-radius: 0;
      box-shadow: none;
      font-family: $helvetica;
      font-size: 14px;
      color: #676867;
      line-height: 1em;
      margin-bottom: 1.3em;
    }

    input[type="submit"] {
      margin: 0;
      padding: 12px 16px;
      font-family: $montserrat;
      font-size: 15px;
      font-weight: normal;
      color: $rit-orange;
      text-align: center;
      line-height: 1em;
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      background-color: transparent;
      border-radius: 4px;
      border: 2px solid #f36e21;
      cursor: pointer;
      width: auto;
      @include transition(all 500ms ease);

      &:hover {
        background: $rit-orange;
        color: $white;
      }
    }

    .search-advanced {
      display: none;
    }
  }

  .search-results-container {
    @include min($mobile-break) {
      @include span-columns(8);
      @include shift(1);
    }

    h3 {
      margin: 0 0 20px 0;
      padding: 20px 10px 20px 0;
      display: inline-block;
      font-family: $montserrat;
      font-size: 20px;
      font-weight: normal;
      color: #2d2d2d;
      line-height: 25px;
      text-transform: uppercase;
      border-bottom: 2px #bebebe solid;
    }

    h2 {
      margin: 0;
      padding: 20px 10px 20px 0;
      display: inline-block;
      font-family: $montserrat;
      font-size: 0.8em;
      font-weight: normal;
      text-transform: uppercase;
    }

    p.search-snippet {
      color: #888;
      font-size: 0.8em;
    }
  }

}