.server-error-page {
  h1 {
    font-size: 150px;
    color: $light-gray;
    padding-top: 125px;
    padding-bottom: 75px;
    text-align: center;
    line-height: 120px;
    margin-bottom: 0;
  }
  text-align: center;
  padding-bottom: 200px;
}